body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: darkslategray;
}

header{
    background-color: darkcyan;
    color: white;
    
}
.custom-image
{
  
  height: auto;
  border-radius: 75%;
  object-fit: contain;
}

.music-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.music-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px cyan;
}


footer
{
  margin: 0;
  padding: 1rem;
  background-color: darkcyan;
}
audio {
  display: none; /* Hides audio controls */
}