body{
    margin: 0;
    background-color: darkslategray;
}

header{
    background-color: darkcyan;
    color: white;
    
}
.custom-image
{
  border-radius: 75%;
}


footer
{
     background-color: darkcyan;
}